


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.leftGrid{
    grid-column: 0 1;
}

.rightGrid{
    grid-column: 1 2;
}

.startBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.inputUsername{
    padding: .6rem 1.2rem;
    border-radius: .4rem;
    border: 1px solid black
}

.startBtn{
    border: none;
    background-color: black;
    color:white;
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor:pointer;
}

.gameBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.memoryImgsGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
}

.imgDiv{
    background-color: gray;
    border-radius: 1rem;
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    background-size: cover;
}


.resultsBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.playAgainBtn{
    border: none;
    background-color: black;
    color:white;
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor:pointer;
    transition: all 2s;
}


.backgroundImg1{
    background-image: url(assets/imgs/image1.jpg);
}

.backgroundImg2{
    background-image: url(assets/imgs/image2.jpeg);
}

.backgroundImg3{
    background-image: url(assets/imgs/image3.webp);
}

.backgroundImg4{
    background-image: url(assets/imgs/image4.jpg);
}

.backgroundImg5{
    background-image: url(assets/imgs/image5.webp);
}

.backgroundImg6{
    background-image: url(assets/imgs/image6.jpg);
}

.backgroundImg7{
    background-image: url(assets/imgs/image7.jpg);
}

.backgroundImg8{
    background-image: url(assets/imgs/image8.jpg);
}











.hidden{
    display: none;
}

.bold{
    font-weight: bold;
}

.border-bottom{
    border-bottom: 1px solid black;
}

.width-full{
    width: 100%;
}

.flex{
    display: flex;
}

.black-color{
    color:black;
}

.red-color{
    color:red;
}